*{
    box-sizing: border-box;
}
iframe{
    max-width: 100%;
    height:100%;
}
img{
    width: 29%;
    height: auto;
}
#itube{
    width:90%;
    height:auto;
    margin:auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#player{
    max-width: 500px;
    height: 500px;
}
#player , #videos{
    margin: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.title , .artist , .description{
    color:#f9f9f9;
    margin:0px 0px;
    text-align: center;
    background: #414b54;
}
#videos{
    /* border:1px solid #f9f9f9; */
    max-width:800px;
    /* background-color: #f9f9f9; */
}
#videos > .title{
    /* background-color:#5bc0de; */
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
}
.video{
    display:flex;
    justify-content: space-between;
    height: 150px;
    margin:5px 5px;
}
.video-details{
    width: 70%;
}
#videos .content{
    overflow: auto;
    overflow-x: hidden;
    /* border: 1px solid #ccc; */
}
.video-details .title{
    text-align: left;
    font-size: 1.5em;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.video-details .description{
    text-align: left;
    font-size: 1em;
    background-color: #428bca;
    height: calc(150px - 1.5em - 3px);
}
.content{
    max-height:834px;
}
#player .title ,  #player .artist, #player .description{
    padding:5px;
}